/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
  font-family: 'Klavika Regular';
  src: url('../assets/font/klavika_regular.otf');
}

@font-face {
  font-family: 'Klavika Bold';
  src: url('../assets/font/klavika_bold.otf');
} 



.container-chk {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-chk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffe01e;
}

.container-chk:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-chk input:checked ~ .checkmark {
  background-color: #1f1f1f;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-chk input:checked ~ .checkmark:after {
  display: block;
}

.container-chk .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 






/*  Custom Select
    w3schools
*/
.selectDrop {
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  position: relative;
}

.selectDrop select {
  display: none;
}

.select-selected {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.select-selected:after {
  border: 6px solid transparent;
  border-color: #1f1f1f transparent transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  border: 1px solid transparent;
  color: #1f1f1f;
  cursor: pointer;
  font-size: 15px;
  padding: 7px 11px;
}

.select-items {
  background-color: #FFFFFF;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} 


/*  Examen Aesir 
    Febrero-2021
    Néstor Guadalupe García Ortega
*/

/*  Tools:
    https://codepen.io/sosuke/pen/Pjoqqp?__cf_chl_captcha_tk__=0ca0667102f7ede51d2ea3dc3df9f16c592d3293-1612909451-0-AbvT2fo4Lh6-N0-KPGtM2VWEf1Wy6DMogLnQZsuGCsEKeJrmGHaE6K5TMjWt8cXqaRCicrY0CnFejHJ0z_FeKL-Wx_Fk6KJFd-UPY31jGUw03m2xY1NXhUuJcUuRzFLphXI4qZtorAIwilwlHEnCGw1x-Vxgbkfxbuybcad24P5VO9q2xHV6IuFcqI5p9xlfJn3C466S75r-Q4fD6E03Dcpn09Z8Ws0dxYnq3FHFVPHOMmQM-TpGUz8CIIVRLY95ukqqMvrI030id_Vvt-YQ0FlFPvtyaCv9hZPzz0DhAb2iphn085P4rCR37kP9fHiehTgH6yeGRx8etjHyhlxqbwaDVwylTtlQ7CpE6Pg12YUdxTRb5eXLZmbrewLfx3DIdtJoBOGVLPYSuDOSIC8XuSoeUU8TAbk2OGnFPct6lK6-kO-5eDDIApGpsufVq8lhW1omsDBCLKCHJEqq_4K6U2k20RDO6bX_0sjN04c8mD27yJBw_NOr7f-tdF3ZrDKU4v9IlkHV877a52YtdSkfg__qfTL-YQtivvYdbJTq_onCkICRIJS0wnHQpgVZjtPeoi3D1byUJloPFGirYEqenLJsisY-yIqhf3mBqW9oqNS8
    
    
    #D81E06
    #CA0303
    #EAE9E9
    #1F1F1F
*/

body, html{
  font-family: 'Klavika Regular';
}

h1{
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.inputTxt{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #1f1f1f;
  font-size: 14px;
  padding: 7px 11px;
  width: 100%;
}

.inputTxt:focus{
  background: #EAE9E9;
}

.warning, .error {
  background: #ffe01e;
}

label.error{
  display: none;
}

.btn{
  background-image: linear-gradient(to bottom, #323232, #1f1f1f);
  border-radius: 5px;
  color: #ffffff;
  border: 0;
  display: inline-block;
  font-family: 'Klavika Bold';
  font-size: 18px;
  margin: 0 auto;
  max-width: 382px;
  padding: 13px 0;
  text-decoration: none;
  width: 92%;
}

.btn:hover{
  background-image: linear-gradient(to bottom, #1f1f1f, #323232);
}

.btn:disabled{
  background-image: linear-gradient(to bottom, #212121, #0f0f0f);
  color: #AAAAAA;
}

.content {
  margin: 0 auto;
  width: 94%;
}

.logo{
  display: inline-block;
  margin: 24px 0;
}




.form-container {
  background: #000000;
}

.form-container form {
  background: #D81E06;
  color: #ffffff;
  border-radius: 10px;
  padding: 35px 0;
}

.form-container form h2{
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Klavika Bold';
  margin-bottom: 34px;
  text-align: center;
}

.form-container form a{
  color: #ffffff;
}

.form-container form a:hover{
  color: #EAE9E9;
}

.form-container form ul li {
  margin: 0 auto 16px;
  padding: 0 17px;
}

.form-container form ul li.no-padding{
  padding: 0;
  text-align: center;
}

.form-container .bullets-container{
  background: #000000;
  padding-bottom: 16px;
  position: relative;
}

.img-responsive{
  border-radius: 5px;
  width: 100%;
}

.form-container .bullets-container img{
  position: absolute;
  top: 0;
}

.form-container .bullets-container .text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 26px;
  padding-top: 175px;
  position: relative;
  text-align: center;
  top: 0;
}

.form-container .bullets-container .text p {
  font-family: 'Klavika Bold';
  font-size: 40px;
  line-height: 40px;
  margin: 0 auto 10px;
  width: 90%;
}


.form-container .bullets-container.thanks img{
  margin-top: 245px;
}

.form-container .bullets-container.thanks .message{
  position: relative;
  text-align: center;
}

.form-container .bullets-container.thanks .message .icon{
  margin-bottom: 16px;
  margin-top: 45px;
  position: relative;
}

.form-container .bullets-container.thanks .message h1{
  color: #FFFFFF;
  font-family: 'Klavika Bold';
  font-size: 42px;
  line-height: 44px;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
}

.form-container .bullets-container.thanks .message p{
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  margin: 10px auto 0;
  width: 250px;
}


.info-container {
  border: 1px solid #707070;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 44px;
}

.info-container .image{
  margin: 28px 0;
}

.info-container .info em{
  color: #D81E06;
  display: inline-block;
  font-family: 'Klavika Bold';
  font-size: 24px;
  line-height: 28px;
  padding: 8px 0 22px;
}

.info-container .info p{
  color: #737373;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 22px;
}

.info-container .info p mark{
  background: transparent;
  color: #D81E06;
}



footer .cta-footer{
  background: #D81E06;
  padding: 50px 0 68px;
  text-align: center;
}

footer .cta-footer p{
  color: #FFFFFF;
  font-size: 24px;
  line-height: 30px;
  margin: 0 auto 57px;
  width: 86%;
}

footer .social-bar{
  background: #000000;
  padding: 24px 0 24px;
  text-align: center;
}

footer .social-bar a{
  margin: 0 5px;
  text-decoration: none;
}

footer .social-bar a .footer-img{
  filter: invert(99%) sepia(9%) saturate(279%) hue-rotate(208deg) brightness(114%) contrast(83%);
}

footer .social-bar a .footer-img:hover{
  filter: invert(99%) sepia(9%) saturate(279%) hue-rotate(208deg) brightness(80%) contrast(83%);
}

footer .social-bar .whatsapp-chat{
  display: inline-block;
  height: 40px;
  line-height: 60px;
  width: 40px
}

footer .social-bar .facebook-chat{
  background: #1877f2;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  line-height: 60px;
  width: 36px
}

footer .social-bar .facebook-chat img{
  filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
}



.mobile-only {
  display: block;
}

.tablet-only {
  display: none;
}

.desktop-only {
  display: none;
}

@media(min-width: 768px) {
  .content {
    max-width: 788px;
  }

  .menu-content{
    max-width: unset;
  }

  .form-container {
    padding-bottom: 815px;
  }

  .form-container form {
    margin: 0 auto;
    max-width: 732px;
  }

  .form-container .top-logo .content a{
    position: absolute;
    top: 0px;
    z-index: 1;
  }

  .form-container > .content {
    display: block;
    left: 50%;
    position: absolute;
    top: 601px;
    transform: translateX(-50%);
  }

  .form-container form {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 35px 0 90px;
  }
  
  .form-container .bullets-container img{
    z-index: 0;
  }

  .form-container .bullets-container .text {
    font-size: 18px;
    line-height: 26px;
    padding-top: 350px;
  }

  .form-container .bullets-container .text p {
    font-size: 58px;
    line-height: 60px;
    margin-bottom: 35px;
    max-width: 650px;
  }

  .form-container .bullets-container .text ul{
    text-align: center;
    overflow: hidden;
  }

  .form-container .bullets-container .text ul li {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    list-style: disc;
    margin: 0 10px;
  }

  .form-container .bullets-container .text ul li::before {
    content: "\2022";
    left: -8px;
    position: relative;
  }

  .info-container {
    border: 0;
    margin-top: 104px;
    padding-bottom: 90px;
  }

  .info-container .block-info {
    overflow: hidden;
    padding-top: 10px;
  }

  .info-container .block-info .image, .info-container .block-info .info {
    width: 49%
  }

  .info-container .image{
    margin: 0;
  }

  .info-container .image img {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }

  .info-container .info em{
    color: #D81E06;
    display: inline-block;
    font-family: 'Klavika Bold';
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 22px;
  }
  
  .info-container .info p{
    color: #737373;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
  }
  
  .info-container .info p mark{
    background: transparent;
    color: #D81E06;
  }
  

  .info-container .block-info.left .image {
    float: left;
    margin-right: 1%;
  }

  .info-container .block-info.left .info {
    float: right;
    margin-left: 1%;
  }

  .info-container .block-info.right .image {
    float: right;
    margin-left: 1%;
  }
  
  .parallax{
    position: relative;
    top: 140px;
  }

  .info-container .block-info.right .info {
    float: left;
    margin-right: 1%;
  }

  footer .cta-footer p{
    width: 80%;
  }

  .form-container .bullets-container.thanks img{
    margin-top: 400px;
  }  

  .form-container .bullets-container.thanks .message .icon{
    margin-top: 225px;
  }

  .form-container .bullets-container.thanks .message h1{
    font-size: 60px;
    line-height: 64px;
    max-width: 520px;
  }
  
  .form-container .bullets-container.thanks .message p{
    font-size: 24px;
    line-height: 24px;
    margin-top: 15px;
    width: 600px;
  }

  .mobile-only {
    display: none;
  }
  
  .tablet-only {
    display: block;
  }
  
  .desktop-only {
    display: none;
  }
}

@media(min-width: 1024px) {
  .content {
    max-width: 1100px;
  }

  .form-container {
    padding-bottom: 0px;
  }

  .form-container > .content {
    left: unset;
    max-width: 460px;
    right: 60px;
    top: 115px;
    transform: unset;
    width: 40%;
    z-index: 1;
  }

  .form-container form {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    margin: 0 auto;
    max-width: 460px;
    padding: 35px 0 9px;
  }

  .form-container form::before{
    content: '';
    border-left: 20px solid transparent;
    border-top: 29px solid #D81E06;
    bottom: 0;
    height: 0;
    left: -20px;
    position: absolute;
    width: 0;
  }

  .form-container form ul li {
    padding: 0 40px;
  }

  .form-container .bullets-container {
    height: 766px;
    overflow: hidden;
    padding-bottom: 0;
  }
    
  .form-container .bullets-container .text {
    padding-top: 480px;
    text-align: left;
  }

  .form-container .bullets-container .text > .content{
    margin: 0 5% 0 0;
    width: 55%;
  }




  .form-container .bullets-container.thanks img{
    margin-top: 0;
  }
  
  .form-container .bullets-container.thanks .message{
    position: relative;
    text-align: center;
  }
  
  .form-container .bullets-container.thanks .message .icon{
    margin-bottom: 25px;
    margin-top: 240px;
    position: relative;
  }
  
  .form-container .bullets-container.thanks .message h1{
    font-size: 60px;
    line-height: 62px;
    max-width: 520px;
  }
  
  .form-container .bullets-container.thanks .message p{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    margin: 12px auto 0;
    width: 560px;
  }
  



  .info-container {
    margin-top: 95px;
  }

  .info-container .info em{
    margin-top: 30px;
  }

  .info-container .block-info {
    overflow: hidden;
    padding-top: 50px;
  }

  .info-container .block-info.left .info {
    float: left;
    margin-left: 3%;
    width: 43%;
  }

  .info-container .block-info.right .info {
    float: right;
    margin-right: 3%;
    width: 43%;
  }
  
  .mobile-only {
    display: none;
  }
  
  .tablet-only {
    display: none;
  }
  
  .desktop-only {
    display: block;
  }  
}